// Fonts
$font-default: '"Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$font-primary: '"Roboto", sans-serif';
$font-secondary: '"Work Sans", sans-serif';

// Cherry's Construction Fonts


// Colors
$default: #364d59;
$primary: #0B2547;
$secondary: #52565e;

$text-color: #0A0A0A;
$heading-color: #0A0A0A;
$title-color: #0B2547;
$white: #ffffff;
$black: #000000;

// Cherry's Construction Color Pallete

$cherrys-blue: #0B2547;
$cherrys-yellow: #FFB133;
$cherrys-red: #AB0101;
$cherrys-gray: #7C7A7A;
$cherrys-darkgray: #151514;
$cherrys-white: #F4F4F6;
$cherrys-black: #0A0A0A;
$white: #ffffff;

// Xurnet Colors
$xurnet-blue: #0460D9;
$xurnet-darkblue: #011F34;
$xurnet-green: #04F16B;
$xurnet-white: #FBFBFF;
$xurnet-gray: #79858C;
$xurnet-darkgray: #1F1F1F;
$xurnet-black: #151413;

