// Fonts
$font-default: '"Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$font-primary: '"Roboto", sans-serif';
$font-secondary: '"Work Sans", sans-serif';

// Cherry's Construction Fonts


// Colors
$default: #364d59;
$primary: #0B2547;
$secondary: #52565e;

$text-color: #0A0A0A;
$heading-color: #0A0A0A;
$title-color: #0B2547;
$white: #ffffff;
$black: #000000;

// Cherry's Construction Color Pallete

$cherrys-blue: #0B2547;
$cherrys-yellow: #FFB133;
$cherrys-red: #AB0101;
$cherrys-gray: #7C7A7A;
$cherrys-darkgray: #151514;
$cherrys-white: #F4F4F6;
$cherrys-black: #0A0A0A;
$white: #ffffff;

// Xurnet Colors
$xurnet-blue: #0460D9;
$xurnet-darkblue: #011F34;
$xurnet-green: #04F16B;
$xurnet-white: #FBFBFF;
$xurnet-gray: #79858C;
$xurnet-darkgray: #1F1F1F;
$xurnet-black: #151413;

// MEDIA QUERIES
$phone-max: 480px;

$sm-tablet-min: 481px;
$sm-tablet-max: 735px;

$tablet-min: 736px;
$tablet-medium: 767px;
$tablet-max: 991px;

$laptop-min: 992px;
$laptop-max: 1023px;

$desktop-min: 1024px;
$desktop-max: 1200px;

$lg-desktop-min: 1199px;
$lg-desktop-max: 1401px;

$ultrawide-min: 1402px;

