/*--------------------------------------------------------------
# List Items
Template: Logis Pricing Section
--------------------------------------------------------------*/
.list {
    .list-container {
        padding-left: 5vw;
        padding-right: 5vw;

        @media screen and (max-width: $tablet-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .list-item {
        box-shadow: 0 3px 20px -2px rgba(108, 117, 125,.15);
        background: #fff;
        height: 100%;
        position: relative;
        min-height: 100px;
    }

    img {
    }

    .img-circle {
        clip-path: circle();
    }

    .img-square {
        clip-path: none;
        border-radius: 5px;
    }

    h2 {
        color: $cherrys-blue;
    }

    h3 {
        font-weight: 700;
        font-size: 1.5rem;
        color: #fff;
    }

    h4 {
        color: $cherrys-yellow;
        font-size: 1rem;
    }

    h5 {
        font-size: 0.8rem;
        color: $cherrys-yellow;
        font-weight: 400;
        text-align: center;

        sup {
            font-size: 28px;
        }

        span {
            color: rgba( 108, 117, 125, .8);
            font-size: 18px;
        }
    }

    h6 {
        font-size: 0.9rem;
        color: $cherrys-gray;
    }

    p {
        color: #fff;
        font-size: 1rem;
    }

    ul {
        padding: 20px 0;
        list-style: none;
        color: #6c757d;
        text-align: left;
        line-height: 20px;

        li {
            padding-top: 15px;
            display: flex;
            align-items: center;
        }

        i {
            color: #059652;
            font-size: 24px;
            padding-right: 3px;
        }

        .na {
            color: rgba( 108, 117, 125, .5);

            i {
                color: rgba( 108, 117, 125, .5);
            }

            span {
                text-decoration: line-through;
            }
        }
    }

    .featured {
        background: var(--color-primary);

        h3, h4, h4 span, ul, ul .na, ul i, ul .na i {
            color: #fff;
        }
    }
    /* CREATE CARDS */
    .card {
        border: none;

        .card-title {
            margin-top: 15px;
        }
    }

    .icon {
        margin-top: 30px;
        width: 48px;
        height: 48px;
        position: relative;
        margin-bottom: 50px;
        z-index: 1;
        background-color: $cherrys-white;
        margin-left: auto;
        margin-right: auto;

        i {
            color: $cherrys-blue;
            font-size: 2rem;
            transition: ease-in-out 0.3s;
            z-index: 2;
            position: relative;
            line-height: 1.8;
        }

        &:before {
            position: absolute;
            content: '';
            height: 75px;
            width: 75px;
            background: lighten($secondary, 60);
            border-radius: 50px;
            z-index: 1;
            right: -13px;
            top: -10px;
            transition: 0.3s;
        }
    }
}
