/*--------------------------------------------------------------
# Login Section
--------------------------------------------------------------*/
#login {
    background-color: $cherrys-blue;

    .container {
        padding-top: 60px;

        .card {
            border-radius: 0;

            .card-body {
            }
        }
    }

    form {
        input {
            border-radius: 0;
            /*border: 2px solid $cherrys-blue;*/
            border: none;
            background-color: $cherrys-white;
            font-size: 1rem;
        }

        .btn-primary {
            background-color: $cherrys-blue;
            border: none;
            border-radius: 0;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: lighten($cherrys-blue, 8);
                box-shadow: 2px 4px 8px 4px rgba($cherrys-black, 0.2);
                transform: scale(1.02);
            }
        }

        .check-container {
            padding: 0px 12px;
        }

        .form-check-input {
            border: 2px solid $cherrys-blue;
        }

        #forgot-password, #resend-confirmation {
            font-size: 0.9rem;
            font-weight: 600;
        }
    }
}