/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {

    .pagination-container {
        margin-top: 30px;
        color: lighten($cherrys-blue, 20);
        justify-items: center;
        justify-self: center;

        ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
            justify-content: center;
        }

        .pagination {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li {
            margin: 0 5px;
            transition: 0.3s;

            a {
                color: $cherrys-black;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 7px 16px;
            }

            &.active {
                padding: 7px 16px;
                background: $cherrys-blue;
                color: $white;
            }

            &:hover {
                background: $cherrys-blue;
                a {
                    color: $white;
                }
            }
        }
    }
}
