/*--------------------------------------------------------------
# Blog Posts List
--------------------------------------------------------------*/
.blog {
    display: flex;
    flex-direction: row;

    .posts-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
        justify-content: space-between;

        .post-item {
            width: 32%;
            box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);

            @media screen and (max-width: $laptop-min){
                width: 49%;
            }
            @media screen and (max-width: $tablet-min){
                width: 100%;
            }
            .flex-btn-container {

                .edit-btn {
                    color: $cherrys-black;
                    background-color: $cherrys-yellow;

                    &:hover {
                        background-color: lighten($cherrys-yellow, 15);
                        color: $cherrys-black;
                    }
                }

                .delete-btn {
                    background-color: $cherrys-red;

                    &:hover {
                        background-color: lighten($cherrys-red, 15);
                    }
                }
            }



            .post-img {
                overflow: hidden;
                width: fit-content;
                max-height: 230px;
                width: auto;
                position: relative;


                img {
                    transition: 0.5s;
                    position: center;
                }
            }

            .post-date {
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: var(--color-primary);
                color: #fff;
                text-transform: uppercase;
                font-size: 13px;
                padding: 6px 12px;
                font-weight: 500;
            }

            .post-content {
                display: flex;
                flex-direction: column;
                height: fit-content;
                padding: 20px;
            }

            .post-title {
                font-size: 24px;
                color: var(--color-secondary);
                font-weight: 700;
                transition: 0.3s;
                margin-bottom: 15px;
            }

            .meta {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                i {
                    font-size: 16px;
                    color: gray;
                }

                span {
                    font-size: 15px;
                    color: lighten($secondary, 20);
                }
            }

            p {
                margin-top: 20px;
            }


            hr {
                color: #888;
                margin-bottom: 20px;
            }

            .readmore {
                display: flex;
                align-items: center;
                font-weight: 600;
                line-height: 1;
                transition: 0.3s;
                color: lighten($secondary, 20);

                i {
                    line-height: 0;
                    margin-left: 6px;
                    font-size: 16px;
                }
            }

            &:hover {
                .post-title, .readmore {
                    color: var(--color-primary);
                }

                .post-img img {
                    transform: scale(1.1)
                }
            }
        }
    }
}
